*{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    width: min(95vw, 500px);
    height: 500px;
    border: 2px solid black;

}
.game-board{
    width: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: chartreuse;

} 